.testimonials {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-400);

  @media (width >= 48rem) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    &__item {
      display: flex;
    }

    &__item:nth-child(1) {
      grid-column: 1 / -1;
    }

    // Patrick - spans full width
    &__item:nth-child(4) {
      grid-column: 1 / -1;
    }

    // Kira - spans full width
    &__item:nth-child(5) {
      grid-column: 1 / -1;
    }
  }
}
