/* Fonts */

$fonts-barlow-semin-condensed: (
  500: 'Barlow-Semi-Condensed-Medium',
  600: 'Barlow-Semi-Condensed-SemiBold',
);

@each $weight, $file in $fonts-barlow-semin-condensed {
  @font-face {
    font-family: 'Barlow Semi Condensed';
    font-weight: $weight;
    font-style: normal;
    src: url('../../assets/fonts/Barlow-Semi-Condensed/#{$file}.woff2') format('woff2');
    font-display: swap;
  }
}
