.page {
  background-color: #f6f5f6;

  &__content {
    padding: 4.5625rem 2.1875rem;
  }

  @media (width >= 48rem) {
    &__content {
      padding: 5.1875rem 3.75rem 7.0625rem;
    }
  }

  @media (width >= 90rem) {
    &__content {
      padding: 14.3125rem 10.25rem 13.625rem;
    }
  }
}
