/* Text presets */
@use 'sass:list';
@use 'variables' as *;

/* Typography utility */
@mixin text($font-family, $font-size, $font-weight, $line-height, $letter-spacing) {
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
}

@mixin text-preset-1() {
  @include text($font-barlow-semi-condensed, 1.25rem, 600, 1.2, 0);
}

@mixin text-preset-2() {
  @include text($font-barlow-semi-condensed, 0.8125rem, 500, 1.1, 0);
}

@mixin text-preset-3() {
  @include text($font-barlow-semi-condensed, 0.8125rem, 500, 1.4, 0);
}

@mixin text-preset-4() {
  @include text($font-barlow-semi-condensed, 0.675rem, 500, 1.1, 0);
}

/* Transitions */
@mixin transition($properties...) {
  $transitions: ();

  @each $prop in $properties {
    $transitions: list.append($transitions, $prop 0.2s ease-in-out, comma);
  }

  transition: $transitions;
}
